.load-more {
  display: block;
}

.load-more.is-hidden {
  display: none;
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
